SplitPane:horizontal > .split-pane-divider {
    -fx-background-color:linear-gradient(to right, #EAEAEA, #1f2a34);
}

SplitPane {
    -fx-background-color: #1f2a34;
}

Label {
    -fx-text-fill: #ffffff;
}

.blackText {
    -fx-text-fill: #000000;
}

.title {
    /*-fx-background-color: darkslateblue;*/
    -fx-font-size: 24;
    -fx-label-padding: 10;
}

ListView {
    -fx-end-margin: 25;
}

.color {
    -fx-background-color: #1f2a34;
}

.whiteBackground {
    -fx-background-color: #ffffff;
}

TableView Label {
    -fx-text-fill: black;
    -fx-alignment: CENTER-LEFT;
}

